.translation{
    display: flex;
    
    .sidebar{
        flex:2;
        border:2px solid red;
        display:none;
    }
    .translation__container{
        flex:11;
        margin-top: var(--header-height);




    .translation__wrapper{
        .translation__wrapper__container{
            position: relative;
            
            
            .translation__wrapper__img{
            max-width: 500px;
            height: 500px;
            }
            .translation__wrapper__title{
            background-color: rgba(255, 255, 255, 0.63);
            position: absolute;
            top:40%;
            width: 100%;
            max-width: 500px;
            text-align: center;
            padding:1rem;
            }
        
            }
            .translation__quote{
                margin:1rem 0;
            }
    }
    .translation__books__container{
    margin: 4rem 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    justify-content: center;

    .translation__card__img{
        box-shadow: 0 4px 6px rgb(180, 121, 10);
        border-radius: 0.3rem;
    }

    .translation__card__name{
        font-size: 10px;
        font-weight: lighter;
        color:black;
       
    }
    }
      
    }
}