.home{
    display: flex;

    .sidebar{
        flex:2;
        display: none;
    }

    .home__container{
        position: relative;
        flex:11;
        .accessory{
          
        }

    }
}