.editor{
  margin:7rem 0;
  h2{
    margin: 2rem 0;
    font-weight: bolder;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content:left;
   column-gap: 0.5rem;
   padding:0 2rem;

  }

  .choice__card{
    text-align: center;
    img{
      max-width:200px;
      border-radius: 0.3rem;
      max-height: 300px;
      box-shadow: 0 4px 6px rgb(151, 99, 3);
    }
  }
  
    
    
    }
